@page "/"

<PageTitle>Index</PageTitle>

<h1>Time To Play</h1>
 <ul>
  <li>BLUE:</li>
  <li>RED:</li>
  <li>ROUND:</li>
</ul>  



<SurveyPrompt Title="How is Blazor working for you?" />
